body, h1, h2, h3, p, ul, li, a, input, textarea, button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    line-height: 1.6;
    color: #fff;
    font-family: Arial, sans-serif;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url('ogburger/fondos/fodo.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: 'Bangers', cursive;
}

header {
    background: transparent;
    color: #fff;
    padding: 10px 20px;
    position: static;
    top: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
    justify-content: center; 
}

header .logo {
    height: 80px;
    width: auto;
    margin-right: auto; 
}

header nav ul li {
    margin: 0;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 1rem;
    font-family: 'Bangers', cursive;
}

header nav ul li a:hover {
    text-decoration: underline;
}

header nav ul li a.btn-iniciar {
    background-color: rgba(51, 51, 51, 0.7);
    padding: 8px 15px;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    font-size: 1rem;
    font-family: 'Bangers', cursive;
}

header nav ul li a.btn-iniciar:hover {
    background-color: rgba(85, 85, 85, 0.9);
}


@media (max-width: 768px) {
    header {
        flex-wrap: wrap;
        justify-content: center;
    }

    header .logo {
        margin-bottom: 10px;
    }

    header nav ul {
        flex-wrap: wrap;
        justify-content: center;
    }

    header nav ul li {
        margin-bottom: 10px;
    }
}




/* Posiciona el carrito a la derecha con menor altura */
.cart-container {
    margin-top: 232px; /* Espaciado entre el carrito y las promociones */
    position: sticky;  
    width: 360px; /* Más angosto */
    min-height: 200px; /* Menos alto */
    position: absolute;
    top: 20px;
    right: 100px;
    padding: 8px;
    border-radius: 10px;
    background-color: #fff;
    border: 2px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


/* "Tu Carrito" más grande y negrita */
.cart-header {
    position: absolute;
    top: 5px;
    left: 10px;
    font-size: 1.4em; /* Más grande */
    font-weight: bold; /* Negrita */
    color: #333;
}

/* Espaciado para el contenido */
.card-body {
    margin-top: 30px;
    max-height: 170px;
    overflow-y: auto;
}

/* Lista de productos */
#cart-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* Línea divisoria */
.divider {
    border: 0;
    border-top: 1px solid #ddd;
    margin-top: 10px;
    margin-bottom: 8px;
}

/* Ajuste para los párrafos */
.empty-message p {
    margin: 0;
    padding: 0;
    font-size: 0.9em;
    color: #888;
    font-weight: bold;
    line-height: 1.4;
}

/* Centrado del mensaje vacío en el carrito */
.empty-message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 20px; /* Mueve el contenido un poco más abajo */
    margin-bottom: 0;
    height: 100%;
}

/* Botón con texto alineado a la izquierda */
.where-to-order {
    background-color: #f0f0f0;
    padding: 8px;
    border-radius: 5px;
    font-size: 1em;
    border: none;
    cursor: pointer;
    width: 100%;
    text-align: left;
    transition: background-color 0.3s ease;
}

.where-to-order:hover {
    background-color: #ddd;
}









#menu-pedir {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}

.menu-title {
    font-size: 2rem;
    margin-left: 70px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #ffffff;
    text-transform: uppercase;
}

.container {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 60px;
}

.menu-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 30px;
    color: #ffffff;
    text-transform: uppercase;
}

.menu-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start;

    
}

.menu-item {
    display: flex;
    background: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: calc(33.33% - 20px);
    max-width: 100%;
    height: 180px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    align-items: center;
    margin-bottom: 20px;
}

.menu-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.menu-item img {
    width: 150px;
    height: 100%;
    object-fit: cover;
    border-radius: 12px 0 0 12px;
    transition: transform 0.3s ease;
}

.menu-item:hover img {
    transform: scale(1.05);
}

.menu-info {
    padding: 10px 15px;
    text-align: left;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.menu-info h3 {
    font-size: 0.9rem;
    font-weight: bold;
    margin: 0 0 8px;
    color: #333;
}

.menu-info p {
    margin: 5px 0;
    font-size: 0.8rem;
    color: #666;
}

.price {
    margin-top: 8px;
}

.current-price {
    font-weight: bold;
    color: #4caf50;
    font-size: 1.0rem;
}

.old-price {
    text-decoration: line-through;
    color: #d32f2f;
    margin-left: 8px;
    font-size: 0.8rem;
}

.add-to-cart {
    margin-top: 10px;
    padding: 6px 12px;
    background-color: #d32f2f;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.add-to-cart:hover {
    background-color: #b71c1c;
}

#loginModal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    overflow: auto;
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    text-align: center;
}

.close {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    top: 0;
    right: 25px;
    color: white;
    font-size: 40px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

body.modal-active {
    background-color: rgba(0, 0, 0, 0.5);
}

.menu-item {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 20px;
    border: 1px solid #e0e0e0;
    padding: 15px;
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.menu-info {
    flex-grow: 1;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.price-container {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 8px;
}

.current-price {
    color: #000000;
    font-weight: bold;
    font-size: 13px;
}

.old-price {
    color: #a0a0a0;
    text-decoration: line-through;
    font-size: 12px;
}

.add-to-cart-circle:hover {
    transform: scale(1.1);
    background-color: #333;
}

.add-to-cart-circle:before {
    content: "+";
    color: #fff;
    font-size: 14px;
    font-weight: bold;
}

.quantity-controls {
    display: flex;
    align-items: center;
    gap: 4px;
    background-color: #000;
    padding: 4px 8px;
    border-radius: 15px;
    width: fit-content;
}

.quantity-value {
    font-size: 12px;
    font-weight: normal;
    color: #fff;
    text-align: center;
    font-family: 'Arial', sans-serif;
}

.quantity-controls button {
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.2s, color 0.2s;
}

.quantity-controls button:hover {
    color: #ddd;
    transform: scale(1.1);
}

.quantity-controls.circle {
    border-radius: 50%;
    padding: 4px;
    width: 18px;
    height: 18px;
    justify-content: center;
    align-items: center;
    margin-left: 0px;
}

.quantity-value.hidden {
    display: none;
}

.quantity-controls.circle button {
    font-size: 18px;
}

.quantity-controls.circle .decrease {
    display: none;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    margin-top: 40px;
}

footer .footer-container a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

footer .footer-container a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 768px) {
    #pedir form {
        width: 90%;
    }

    #pedir form input,
    #pedir form select {
        width: 100%;
    }
}

footer {
    margin-top: auto;
    background-color: #333;
    color: #fff;
    padding: 40px 20px;
    text-align: center;
}

.footer-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-logo img {
    width: 150px;
    height: auto;
}

.footer-about, .footer-socials, .footer-account {
    text-align: left;
}

.footer-about h3, .footer-socials h3, .footer-account h3 {
    margin-bottom: 10px;
    font-size: 1.2rem;
    font-weight: bold;
}

.footer-about p, .footer-account ul {
    font-size: 0.9rem;
}

.footer-socials ul, .footer-account ul {
    list-style: none;
    padding: 0;
}

.footer-socials ul li, .footer-account ul li {
    margin-bottom: 10px;
}

.footer-socials ul li a, .footer-account ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
}

.footer-socials ul li a:hover, .footer-account ul li a:hover {
    text-decoration: underline;
}

.footer-socials img {
    width: 30px;
    margin-right: 15px;
}

@media (max-width: 768px) {
    .footer-container {
        grid-template-columns: 1fr 1fr;
    }

    .footer-logo {
        text-align: center;
    }
}

/* Ajusta el diseño de las tarjetas en pantallas móviles */
@media (max-width: 768px) {
    .menu-container {
        flex-direction: column; /* Muestra las tarjetas en una columna */
        align-items: center; /* Centra las tarjetas */
        gap: 10px; /* Ajusta el espacio entre las tarjetas */
    }

    .menu-item {
        width: 100%; /* Cada tarjeta ocupa todo el ancho disponible */
        max-width: none; /* Elimina el límite de ancho máximo */
        height: auto; /* Ajusta la altura automáticamente */
    }

    .menu-item img {
        width: 100%; /* La imagen ocupa todo el ancho de la tarjeta */
        height: auto; /* Mantiene la proporción de la imagen */
    }

    .menu-info {
        padding: 15px;
        text-align: center; /* Centra el texto */
    }

    .menu-info h3 {
        font-size: 1rem; /* Ajusta el tamaño del texto en móvil */
    }

    .menu-info p {
        font-size: 0.9rem; /* Ajusta el tamaño del texto en móvil */
    }

    .price-container {
        flex-direction: column; /* Muestra el precio y las acciones en columna */
        align-items: center; /* Centra el contenido */
    }

    .add-to-cart {
        width: 100%; /* Hace que el botón ocupe todo el ancho */
    }
}
